body{
  
  font-family: 'Roboto', sans-serif!important;
}
.text-slanted{
  font-family: 'Courgette', cursive!important;
}

.text-blue{
  color:#20c997;
}

.letter-spacing{
  letter-spacing: 0.5rem;
}
.header-hero{
  min-height: calc(100vh - 56px);
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./images/homeBG.jpeg') center/cover no-repeat;
}

.default-hero{
  min-height: calc(100vh - 56px);
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./images/defaultBG.jpeg') center/cover no-repeat;
}

